node_modules/
.env
.env.*
.vscode/
.git/
tsconfig.json
src/
.prettierignore
public/**/*.max.*
*.d.ts
generateEnvDeclarations.js
*.js.map
nodemon.json
exportedCode.js
dist/commands/admin/auth.js
dist/commands/admin/commandresolver.js
